In [1]:
import os

In [2]:
import sqlite3

In [3]:
os.getcwd()

'C:\\Users\\Admin'

In [6]:
#Create and connect Database

In [7]:
connection=sqlite3.connect('AkashP.db')

In [8]:
crsr=connection.cursor()

In [9]:
#Create Table

In [14]:
sql_Table="""CREATE TABLE IF NOT EXISTS Ages (
        name VARCHAR(128),
        age INTEGER
    );"""
crsr.execute(sql_Table)

In [15]:
#Delete From Ages

In [29]:
crsr.execute('DELETE FROM Ages')

In [17]:
#Fetch_Data From table

In [18]:
crsr.execute("SELECT * FROM Ages")
data=crsr.fetchall()
for j in data:
  print(i)

In [19]:
#insert_data in table

In [30]:
sql_command="""INSERT INTO Ages VALUES ('Akash', 26);"""
crsr.execute(sql_command)
sql_command="""INSERT INTO Ages VALUES ('Rohit', 33);"""
crsr.execute(sql_command)
sql_command="""INSERT INTO Ages VALUES ('Anuj', 31);"""
crsr.execute(sql_command)
sql_command="""INSERT INTO Ages VALUES ('Sunny', 29);"""
crsr.execute(sql_command)
connection.commit()

In [21]:
#Fetch_Data in Table

In [31]:
crsr.execute("SELECT * FROM Ages")
data=crsr.fetchall()
for i in data:
  print(i)

('Akash', 26)
('Rohit', 33)
('Anuj', 31)
('Sunny', 29)

In [33]:
#SQL_COMMAND

In [34]:
crsr.execute("SELECT hex(name || age) AS X FROM Ages ORDER BY X")
result_set=crsr.fetchall()
for k in data:
  print(k)

('Akash', 26)
('Rohit', 33)
('Anuj', 31)
('Sunny', 29)

In [36]:
#FIND FIRST ROW AND RESULTING RECORD SET

In [37]:
if result_set:
    first_row = result_set[0][0]
    print("The first row in the resulting record set:", first_row)
connection.close()

The first row in the resulting record set: 416B6173683236